.header {
    background-color: #565656;
    background-repeat: no-repeat;
    font-family: lato;
}
.logo {
    background-color: solid #565656;
}
.heroImage {
    margin-left: auto;
    background-color:#565656;
}
#fanClub {
    background-color: #565656;
    font-family: lato;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "space fanImage space"
    "fanTitle"
    "fanText";
}
.footer {
    background-color: black;
    color: white;
    font-family: lato;
}