.header {
    background-color: #565656;
    background-repeat: no-repeat;
    font-family: lato;
}
.logo {
    background-color: solid #565656;
}
.heroImage {
    margin-left: auto;
    background-color:#565656;
}
.fanClub {
    background-color: #565656;
    margin-left: auto;
    font-family: lato;
}
.footer {
    background-color: black;
    color: white;
    font-family: lato;
}